<div id="fabricacao">
    <h1>Quais as etapas da criação de nossos calçados?</h1>
    <ol>
        <li class="titulo-fabricacao">Desing</li>
        <ul>
            <li>Essa é a etapa criativa da fabricação de calçados. Nela, os designers de moda fazem o planejamento da coleção passo a passo, observando as tendências da estação, como cores, estilos, estampas, dentre outros.</li>            
            <li><img  src="img/desingsapato.jpg" alt=""></li>
            <li>É nesse momento, também, que os materiais do calçado serão escolhidos. Isso acontece pensando não apenas no estilo visual, mas no conforto de quem usará.</li>
        </ul>
        <li class="titulo-fabricacao">Modelagem</li>
            <ul>
                <li> Tendo os desenhos prontos, é hora de torná-los reais. No entanto, antes de produzir em massa, são feitos moldes para auxiliar na produção. Cada parte do calçado – solado, tiras, palmilhas, entressola, cabedal, <a style="color: black;" href="https://quimicolla.com.br/blog/conheca-todas-as-partes-de-um-calcado/">entre outros</a> – será transformada em peças soltas.</li>
                <li><img  src="img/modelagemsapato.jpg" alt=""></li>
                <li>É na modelagem, também, que é verificada a viabilidade de produzir o que foi idealizado. Com o auxílio de um objeto com o formato de pé, feito em plástico, o calçado é desenvolvido com os materiais e com as cores do desenho. Se tudo correr como esperado na etapa de modelagem, o processo continua. Caso contrário, são reavaliadas as ideias da equipe de design e de criação.</li>
            </ul>
        <li class="titulo-fabricacao">Corte</li>
            <ul>
                <li>Quando a etapa de modelagem é bem sucedida e os moldes ficam prontos, a produção do calçado começa. Todas as formas são cortadas em seus tecidos e materiais. Algumas vezes, isso é feito por máquinas. No entanto, existem confecções – geralmente com cunho mais sustentável e social – que mantêm a mão-de-obra profissional. É claro que, dependendo do material, é inviável manuseá-lo sem o auxílio de aparelhos.</li>
                <li><img src="img/cortecalcado.jfif" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Costura</li>
            <ul>
                <li>Na etapa de costura, o esqueleto do calçado ganha forma. Ela consiste na junção das partes que formam o cabedal, que é a parte superior do produto. Na costura, o calçado não se parece muito com o que encontramos nas lojas. Essa finalização acontece somente no próximo passo.</li>
                <li><img src="img/costuracalcado.jfif" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Montagem</li>
            <ul>
                <li>É na montagem que o calçado de fato ganha forma. Ela funciona como um quebra-cabeça, na qual partes soltas são colocadas juntas para construir o produto final. Solado, cabedal, palmilha e, às vezes, saltos, são combinados, e o calçado segue para a última etapa de produção.</li>
                <li><img src="img/montagem.jpg" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Acabamento</li>
            <ul>
                <li>No setor de acabamento é onde é feito todos os cuidados para que o sapato fique ainda mais bonito. E em seguida, após a revisão final, o calçado está pronto para ser embalado. </li>
                <li><img src="img/acabamento.jpg" alt=""></li>
            </ul>
    </ol>
</div>